@import "./config";

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ccc;
  box-shadow: 0px 0px 10px #171717;

  @include displayFlex(column, none, none);

  .form-control {
    @include displayFlex(column, none, center);
    padding: 0 0.2rem;
    margin: 0.5rem;
    label {
    }

    input[type="text"] {
      font-size: 1.1rem;

      @include mediaQuery(568px) {
        width: 20em;
      }
    }
    .btn-add-question {
      @include mediaQuery(568px) {
        font-size: 1.1rem;
        padding: 0.6rem;
      }
    }
  }
}
